# device-specific config. Don't touch this if you dont know what you're doing, instead edit mt6768_lucreticus_defconfig for modification
CONFIG_LOCALVERSION="-lucreticus_r2-Elysium@dotarma"
CONFIG_IS_22=y
CONFIG_ARCH_MTK_PROJECT="k69v1_64_titan_buffalo"
CONFIG_KSWAPD_CPU=0x3F
CONFIG_HIGHATOMIC_PAGEBLOCKS=0
CONFIG_RANDOMIZE_BASE=y
CONFIG_CMDLINE="console=tty0 console=ttyMT3,921600n1 root=/dev/ram vmalloc=496M slub_max_order=0 "
CONFIG_NFC_PN547=y
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_NFC_WAKELOCK_METHOD=0
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx582_mipi_raw imx258f_mipi_raw imx355_mipi_raw gc02m1b_mipi_raw gc02m1_mipi_raw s5kgm2_mipi_raw"
CONFIG_CAMERA_AAU_V22=y
CONFIG_CAMERA_SAMSUNG_MODEL_NAME="aau_v22"
CONFIG_CAMERA_SENSOR0="imx582_mipi_raw"
CONFIG_CAMERA_SENSOR1="imx258f_mipi_raw"
CONFIG_CAMERA_SENSOR2="imx355_mipi_raw"
CONFIG_CAMERA_SENSOR3="gc02m1b_mipi_raw"
CONFIG_CAMERA_SENSOR4="gc02m1_mipi_raw"
CONFIG_CAMERA_ADAPTIVE_MIPI=y
CONFIG_SMCDSD_DYNAMIC_MIPI=y
CONFIG_SMCDSD_PANEL_A22=y
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
CONFIG_LCM_HEIGHT="1600"
CONFIG_LCM_WIDTH="720"
CONFIG_MTK_AAL_SUPPORT=y
CONFIG_CAMERA_OIS_MCU=y
CONFIG_MTK_FLASHLIGHT_PT=y
CONFIG_MTK_FLASHLIGHT_PT_STRICT=y
CONFIG_TZDEV_KTHREADS_NOTIFIER=y
CONFIG_SND_SOC_AW8896=y
CONFIG_SENSORS_GW3X=y
CONFIG_HID_NTRIG=y
CONFIG_HID_ORTEK=y
CONFIG_ION_RBIN_HEAP=y
CONFIG_PROC_AVC=y
CONFIG_FLIP_COVER_DETECTOR_FACTORY=y
CONFIG_TOUCHSCREEN_MELFAS=y
CONFIG_SENSORS_ISG5320A=y
CONFIG_SENSORS_ISG5320A_SUB=y
CONFIG_SENSORS_SUPPORT_MTK=y
CONFIG_TEST_FOR_GRIP=y
CONFIG_BATTERY_SAMSUNG_LEGO_STYLE=y
CONFIG_LSM_MMAP_MIN_ADDR=32768
