# select the battery-focused Lucreti governor
# dont include this config along with perf.config
CONFIG_LUCRETICUS_UV=y
CONFIG_CPU_FREQ_DEFAULT_GOV_LUCRETIBATTERY=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_LUCRETIBALANCE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE is not set
CONFIG_HZ_100=y
# CONFIG_HZ_250 is not set
CONFIG_HZ=100
# CONFIG_SCHED_BORE is not set
