# device-specific config. Don't touch this too much, edit mt6768_lucreticus_defconfig for modification.
CONFIG_LOCALVERSION="-lucreticus_r1-Armaros@dotarma"
CONFIG_IS_M32_OR_F22=y
CONFIG_FAULT_AROUND_4KB=y
CONFIG_KSWAPD_CPU=0
CONFIG_ARCH_MTK_PROJECT="k69v1_64_titan_marmot"
CONFIG_HAVE_MOD_ARCH_SPECIFIC=y
CONFIG_ARCH_HAS_RELR=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_CLEANCACHE=y
CONFIG_RBIN=y
CONFIG_HIGHATOMIC_PAGEBLOCKS=0
CONFIG_ARM64_MODULE_CMODEL_LARGE=y
CONFIG_ARM64_MODULE_PLTS=y
CONFIG_RELOCATABLE=y
CONFIG_RANDOMIZE_MODULE_REGION_FULL=y
CONFIG_CMDLINE="console=tty0 console=ttyMT3,921600n1 root=/dev/ram vmalloc=496M slub_max_order=0 slub_debug=O "
CONFIG_NF_LOG_COMMON=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NF_LOG_IPV4=y
CONFIG_NF_LOG_IPV6=y
CONFIG_SAMSUNG_NFC=y
CONFIG_NFC_PN547=y
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_NFC_WAKELOCK_METHOD=0
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kgw3_mipi_raw hi2021q_mipi_raw sr846d_mipi_raw gc5035_mipi_raw gc5035b_mipi_raw imx355_mipi_raw gc02m1b_mipi_raw gc02m1_mipi_raw"
CONFIG_CAMERA_MMU_V32=y
CONFIG_CAMERA_SAMSUNG_MODEL_NAME="mmu_v32"
CONFIG_CAMERA_SENSOR0="s5kgw3_mipi_raw"
CONFIG_CAMERA_SENSOR1="hi2021q_mipi_raw"
CONFIG_CAMERA_SENSOR2="imx355_mipi_raw"
CONFIG_CAMERA_SENSOR3="gc02m1b_mipi_raw"
CONFIG_CAMERA_SENSOR4="gc02m1_mipi_raw"
CONFIG_CAMERA_ADAPTIVE_MIPI=y
CONFIG_SMCDSD_DYNAMIC_MIPI=y
CONFIG_SMCDSD_PANEL_M32=y
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
CONFIG_LCM_HEIGHT="2400"
CONFIG_LCM_WIDTH="1080"
CONFIG_QCOM_SEC_DETECT=m
CONFIG_SND_SOC_AW8896=y
CONFIG_TZDEV_KTHREADS_SMPBOOT=y
CONFIG_DM_ANDROID_VERITY_AT_MOST_ONCE_DEFAULT_ENABLED=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y
CONFIG_INPUT_TABLET=y
CONFIG_TABLET_USB_ACECAD=y
CONFIG_TABLET_USB_AIPTEK=y
CONFIG_TABLET_USB_GTCO=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_TABLET_USB_KBTAB=y
CONFIG_SND_SOC_SMA1305=y
CONFIG_HID_ACRUX=y
CONFIG_HID_ACRUX_FF=y
CONFIG_HID_PRODIKEYS=y
CONFIG_DRAGONRISE_FF=y
CONFIG_HID_EMS_FF=y
CONFIG_HID_ELECOM=y
CONFIG_HID_HOLTEK=y
CONFIG_HID_KEYTOUCH=y
CONFIG_HID_UCLOGIC=y
CONFIG_HID_WALTOP=y
CONFIG_HID_LCPOWER=y
CONFIG_HID_LOGITECH_DJ=y
CONFIG_HID_LOGITECH_HIDPP=y
CONFIG_LOGITECH_FF=y
CONFIG_LOGIRUMBLEPAD2_FF=y
CONFIG_LOGIG940_FF=y
CONFIG_LOGIWHEELS_FF=y
CONFIG_HID_PANTHERLORD=y
CONFIG_PANTHERLORD_FF=y
CONFIG_HID_PICOLCD=y
CONFIG_HID_PRIMAX=y
CONFIG_HID_ROCCAT=y
CONFIG_HID_SAITEK=y
CONFIG_SONY_FF=y
CONFIG_HID_SPEEDLINK=y
CONFIG_GREENASIA_FF=y
CONFIG_SMARTJOYPLUS_FF=y
CONFIG_HID_TIVO=y
CONFIG_HID_WACOM=y
CONFIG_HID_WIIMOTE=y
CONFIG_HID_ZYDACRON=y
CONFIG_HID_NTRIG=y
CONFIG_HID_ORTEK=y
CONFIG_SPU_VERIFY=y
CONFIG_SENSORS_ET5XX=y
CONFIG_CHARGER_PCA9468=y
CONFIG_ION_RBIN_HEAP=y
CONFIG_SEND_PDMSG_IN_PPS_REQUEST_WORK=y
CONFIG_SENSORS_ISG5320A=y
CONFIG_SENSORS_ISG5320A_SUB=y
CONFIG_SENSORS_SUPPORT_MTK=y
CONFIG_DIRECT_CHARGING=y
CONFIG_STEP_CHARGING=y
CONFIG_TEST_FOR_GRIP=y
CONFIG_FSCRYPT_SDP=y
CONFIG_LSM_MMAP_MIN_ADDR=4096
CONFIG_PROC_AVC=y
CONFIG_SDP=y
