# overclocks cci/gpu/etc.
#if you want better battery life/want to use closer to stock, dont include this config in build script, also dont include this along with battery.config
CONFIG_LUCRETICUS_OC_GPU=y
CONFIG_LUCRETICUS_OC_CCI=y
CONFIG_LUCRETICUS_OC_RAMDVFS=y
CONFIG_CPU_FREQ_DEFAULT_GOV_LUCRETIPERF=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_LUCRETIBALANCE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE is not set
# CONFIG_HZ_100 is not set
CONFIG_HZ_250=y
# CONFIG_HZ_300 is not set
# CONFIG_HZ_1000 is not set
CONFIG_HZ=250
CONFIG_SCHED_BORE=y
